.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 500px;
}

h1 {
  width: 90%;
  margin: 5%;
}

mat-form-field {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

button {
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

mat-spinner {
  margin: auto;
}
