<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<mat-table [dataSource]="dataSource" style="width: 50%">
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- Numero Column -->
  <ng-container matColumnDef="numero">
    <mat-header-cell *matHeaderCellDef> Numero Sala </mat-header-cell>
    <mat-cell *matCellDef="let sala"> {{ sala.numero }} </mat-cell>
  </ng-container>

  <!-- Capacidade Column -->
  <ng-container matColumnDef="capacidade">
    <mat-header-cell *matHeaderCellDef> Capacidade Sala</mat-header-cell>
    <mat-cell *matCellDef="let sala"> {{ sala.capacidade }} </mat-cell>
  </ng-container>
</mat-table>

<mat-paginator
  #paginatorSalas
  [length]="totalRows"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageChanged($event)"
  aria-label="Select page"
  showFirstLastButtons
>
</mat-paginator>
